
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background:#f4f7f3;
    color:#333;
}

.navbar{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:18px 8%;

    background:#2E7D32;

    position:sticky;

    top:0;

    z-index:1000;

}

.logo{

    font-size:28px;

    font-weight:bold;

    color:white;

}

.logo span{

    color:white;

}

nav{

    display:flex;

    gap:30px;

}

nav a{

    color:white;

    text-decoration:none;

    font-weight:600;

    transition:.3s;

}

nav a:hover{

    color:#FFD54F;

}


.hero{

    height:90vh;

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;

    background:
    linear-gradient(rgba(0,0,0,.55),rgba(0,0,0,.55)),
    url("images/hero.jpg");

    background-size:cover;

    background-position:center;

}

.hero-content{

    max-width:800px;

    color:white;

}

.hero-content h1{

    font-size:60px;

    margin-bottom:20px;

}

.hero-content p{

    font-size:22px;

    line-height:1.7;

    margin-bottom:40px;

}

.hero-buttons{

    display:flex;

    justify-content:center;

    gap:20px;

    flex-wrap:wrap;

}

.hero-buttons a{

    text-decoration:none;

}

.hero-buttons button{

    padding:18px 35px;

    border:none;

    border-radius:12px;

    background:#2E7D32;

    color:white;

    font-size:18px;

    cursor:pointer;

    transition:.3s;

}

.hero-buttons button:hover{

    background:#1B5E20;

    transform:translateY(-5px);

}

@media(max-width:768px){

.navbar{

    flex-direction:column;

    gap:15px;

}

nav{

    flex-wrap:wrap;

    justify-content:center;

}

.hero-content h1{

    font-size:38px;

}

.hero-content p{

    font-size:18px;

}

.hero-buttons{

    flex-direction:column;

}

}

.how-it-works{
    padding:80px 8%;
    background:white;
    text-align:center;
}

.how-it-works h2{
    font-size:42px;
    color:#2E7D32;
    margin-bottom:50px;
}

.steps{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}

.step{
    background:#f5f7f5;
    padding:30px;
    border-radius:15px;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
}

.step-number{
    width:60px;
    height:60px;
    background:#2E7D32;
    color:white;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:0 auto 20px;
    font-size:24px;
    font-weight:bold;
}

.step h3{
    margin-bottom:15px;
    color:#2E7D32;
}

.step p{
    color:#555;
    line-height:1.6;
}

@media(max-width:900px){
    .steps{
        grid-template-columns:1fr;
    }
}
